.slide-item {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.active-style {
  background-color: #dbeafe;
}

.slide-number {
  font-size: 12px;
  margin: 10px 12px 0 15px;
}

.slide-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px;
  margin: 12px 25px 12px 10px;
}

.heading {
  color: #0f172a;
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 12px;
  margin: 0 0 15px 0;
}

.text {
  margin: 0;
  color: #334155;
}
